*
{
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
}

.padre
{
    display: flex;
    flex-flow: column nowrap;
}

a /*Enlaces ancla*/
{
    text-decoration: none;
}

.margen-interno
{
    margin: 1.5vw 2vw;
}

    .nav
    {
        background-color: #d8e3e7;
        height: 3.5vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-bottom: 0.25vw solid rgba(0, 0, 0, 0.2);
        position: sticky;
        top: 0px;
    }

    .logo
    {
        display: flex;
        /*background-color: white;*/
        margin: 0.5vw;
        padding: 0.5vw;
        width: 9vw;
        flex: 1 1 15%;
        justify-content: center;
    }

    .logo a
    {
        font-size: 2vw;
    }

    .logo a:hover
    {
        color: black;
    }

    .opciones
    {
        display: flex;
        /*background-color: white;*/
        margin: 0.5vw;
        padding: 0.5vw;
        width: 9vw;
        flex: 1 1 70%;
        justify-content: center;
        font-family: Helvetica, Verdana, sans-serif;
    }

        .opciones a
        {
            color: black;
            font-size: 1.5vw;
            padding: 0vw 1.5vw;
        }

        .opciones img
        {
            width: 1.5vw;
            margin: 0vw 0.5vw;
        }



        .opciones img
        {
            
            color: white;
        }
        
        .social
        {
            display: flex;
            /*background-color: white;*/
            margin: 0.5vw;
            padding: 0.5vw;
            width: 9vw;
            flex: 1 1 15%;
            justify-content: flex-end;
        }

    .social img
    {
        color: black;
        width: 2.5vw;
        margin: 0.2vw 0.2vw;
        padding: 0 5px;
    }
    
    .header
    {
        /*background-color: #d8e3e7;*/
        background-image: url(../assets/images/imagen-prueba-programador.jpg);
        background-position: center;
        background-size: cover;
        height: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

    }

    .header h2
    {
        color: white;
        font-size: 3vw;
        font-family: Helvetica, Verdana, sans-serif;
        padding: 0.5vw 0vw;
    }

    .header hr
    {
        height: 0.25vw;
        width: 45vw;
    }

    .main
    {
        background-color: rgb(255, 255, 255);
        display: flex;
        margin-bottom: 2vw;
        height: 100vw; /*Esto puede ir en .articulos*/
    }

        .articulos
        {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            flex: 1 1 100%;
        }

            .desc-article
            {
                background-color: white;
                align-items: center;
                flex: 1 1 100%;
                height: 30%;
                padding: 0.5vw 0.5vw;
                margin: 0.0vw 0.2vw;
                display: flex;
                flex-flow: row wrap;
                justify-content: center; 
                align-items: center;
                border-style: solid;
                          
            }

                .desc-article img
                {
                    height: 15vw; 
                    flex: 1 1 20%;                
                }

                .desc-article p
                {
                    flex: 1 1 50%;
                    font-size: 1.5vw;
                    text-align: justify;
                    padding: 2vw 2vw;
                }

                .desc-article ul
                {
                    flex: 1 1 30%;
                    padding: 0vw 2vw;
                    font-size: 1.5vw;
                    list-style: none;
                    
                }

                .desc-article li
                {
                    
                }

                .desc-article ul h3
                {
                    text-align: center;
                    font-size: 1.5vw;
                }


            .article
            {
                display: flex;
                flex: 1 1 49%;
                flex-flow: row wrap;
                align-content: space-between;
                /*background-color: #1dbfec;*/
                height: 35%;
                padding: 1vw 1vw;
                margin: 1vw 0.2vw 0.0vw 0.2vw;
                font-family: Helvetica, Verdana, sans-serif;
            }

                .article img
                {
                    max-width: 100%;
                    flex: 1 1 100%;
                    height: 15vw;
                }

                .article h3
                {
                    flex: 1 1 100%;
                    font-size: 1.5vw;
                }

                .article p
                {
                    flex: 1 1 100%;
                    font-size: 1.3vw;
                    letter-spacing: 0.1vw;
                }

.footer
{
    display: flex;
    flex-flow: row wrap;
    height: 25vw;
    background-color: #d8e3e7;
}

    .logo-footer
    {
        /*background-color: black;*/
        height: 20vw;
        flex: 1 1 25%;
        padding: 2vw;
    }

        .logo-footer img
        {
            width: 20vw;
            height: 15vw;
        }

    .projects-footer
    {
        /*background-color: black;*/
        display: flex;
        justify-content: flex-start;
        height: 20vw;
        flex: 1 1 25%;
        padding: 2vw 0vw 0vw 2vw;
        
    }

        .projects-footer ul
        {
            list-style: none;
            font-size: 1.3vw;
        }

    .blog-footer
    {
        /*background-color: black;*/
        display: flex;
        justify-content: flex-start;
        height: 20vw;
        flex: 1 1 25%;
        padding: 2vw 0vw 0vw 0vw;
    }

        .blog-footer ul
        {
            list-style: none;
            font-size: 1.3vw;
        }

    .contact-footer
    {
        /*background-color: black;*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column wrap;
        flex: 1 1 100%;
        height: 20vw;
        flex: 1 1 25%;
        padding-top: 2vw;
    }

        .contact-footer h3
        {
            display: inline;
            padding-bottom: 2vw;
            font-size: 1.5vw;
        }

        .contact-footer button
        {
            display: block;
            width: 12vw;
            height: 3vw;
            font-size: 1.3vw;
        }

        .contact-footer button a
        {
            font-family: Helvetica, Verdana, sans-serif;
            color: black;
        }

    .footer p
    {
        flex: 1 1 100%;
        text-align: center;
        align-self: flex-end;
        padding-bottom: 0.5vw;
        font-size: 1.5vw;
    }